
/*-----base-----*/
body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/*-----header-----*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    margin: 0;
    font-size: 2em;
    line-height: 1;
}

.header-logo img {
    width: 6em;
    height: 100%;
}

.nav-menu {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.nav-menu-item + .nav-menu-item {
    margin-left: 2em;
}

.nav-menu-item a {
    color: #333;
    font-weight: bold;
}

